{% extends '../base.html' %}
{% load static %}

{% block title %}
   {{title|capfirst}}
{% endblock %}


{% block content %}

<div class="container">
    <h1>{{title|capfirst}}</h1>
    <div class="row">
        <div class="mx-auto col-3">
            <form style="text-align: center"  class="form-horizontal" action="{% url 'auth:login' %}" method="post">
                {% csrf_token %}
                {{ login_form.as_p }}
                <button type="submit" class="btn btn-round btn-primary">Войти</button>
                <button type="submit" class="btn btn-round btn-primary"><a href="{% url 'auth:register' %}" class="text-white" >Зарегистрироваться</a> </button>
            </form>
        </div>
    </div>
</div>


<h1>{{title|capfirst}}</h1>

{% endblock %}