#pre-header a{
    padding: 5px;
    color: white;
}

#pre-header a:hover {
    opacity: 0.8;
}



.basket{
display: flex;
justify-content: dlex-end;
width: 28px;
height: 26px;
background: url(../images/basket.png) no-repeat;
margin-top: 5 px;
margin-bottom : 5px;
}


#pre-header .basket span {
width: 15px;
height: 15px;
font-size: 12px;
padding: 0;
text-align; center;
background: #3a8bcd;
color: #000000;
border-radius: 50%;
}
#filters a {
    color: #000;

}

#filters a:hover {
    color: #3a8bcd;

}


#filters a.active {
    color: #3a8bcd;

}
